/* HEADER */
header{
    position: fixed;
    top:30px;
    left: 0;
    right: 0;
    z-index: 999;
}
.head{
    /* width: 100%; */
    background-color: white;
    border-radius: 20px;
    box-shadow:0 2px 8px rgba(0,0,0,0.15);
    padding:20px;
}
.head .inner-selection{
    display: flex;
    justify-content: space-around;
}
.head .inner-selection .item{
    color: black;
}
.head .inner-selection .item:hover{
    color: var(--color2);
}
.head .inner-selection .icon{
    display: none;
}
@media screen and (max-width:1200px){
    .head .inner-selection .item{
    font-size: 14px;
}}
@media screen and (max-width:992px){
    .head .inner-selection .item{
    display: none;
}
.head .inner-selection .icon{
    display: inline-block;
}
}

/* SECTION1 */
.section1{
    background-image: url("../images/banner-bg.png");
    width: 100%;
    height: 100%;
    padding: 50px 0;
    background-repeat: no-repeat;
}
.section1 .inner-content{
    text-align: center;
}
.section1 .inner-content .des-content{
    margin-top: 150px;
    
}
.section1 .inner-content .des-content .col-xl-12{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.section1 .inner-content .des-content h2{
    padding-bottom: 20px;
    color: white;
    font-size: 40px;
    font-weight: 400;
}
.section1 .inner-content .des-content p{
    color: white;
    margin-bottom: 30px;
}
.section1 .inner-content .des-content .button{
    background-color: var(--color1);
    color: white;
    width: 200px;
    margin: auto;
        box-shadow:0 2px 8px rgba(0,0,0,0.15);
}
.section1 .inner-content .des-content .button:hover{
    background-color: var(--color4);
}
.section1 .inner-content .des2{
margin-top: 40px;
}
.section1 .inner-content .des2 .item{
    background-color: white;
    /* width: 90%; */
    padding: 40px;
    border-radius: 30px;
    margin-top: 100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
.section1 .inner-content .des2 .item .img{
    background-color: var(--color2);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1 .inner-content .des2 .item:hover .img{
    background-color: var(--color1);
}
.section1 .inner-content .des2 .item .img img{
    font-size: 25px;
}
.section1 .inner-content .des2 .item h3{
    font-weight: 400;
    padding: 20px 0;
}
.section1 .inner-content .des2 .item p{
    color: var(--color3);
}
@media screen and (max-width:768px){
    .section1 .inner-content .des-content h2{
        font-size: 25px;
    }
}
/* SECTION2 */
.section2{
    padding: 100px 0;
}
.section2 .s2-1{
    margin-bottom: 100px;
}
.section2  .s2-1-img{
    text-align: center;

}
.section2  .s2-1-img img{
    width: 50%;
    
}
.section2 .s2-1-content{
    width: 80%;
}
.section2 .s2-2{
    margin-top: 100px;
}
.section2 .s2-1-content h3{
    font-weight: 400;
    padding: 40px 0;
}
.section2 .s2-1-content p{
    color: var(--color3);
    font-size: 18px;
}
/* SECTION3 */
.section3{
    background-image: url("../images/anhnens3.png");
    width: 100%;
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.section3 .box-title {
    color: white;
}
.section3 .s3-content{
    position: relative;
}
.section3 .s3-content .col-xl-2{
    position: relative;
}
.section3 .item{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 20px ;
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
}
.section3 .item:hover{
    transform: translateY(-8px);
}
.section3 .item h5{
    padding: 10px;
    font-weight: 400;
}
.section3 .item p{
    font-size: 15px;
    color: var(--color3);
}
.section3 .col-xl-2::after{
    content: "";
    position: absolute;
    background-color: #9E7DE8;
    opacity: 0.8;
    right: 0px;
    bottom: -10px;
    width: 90%;
    height: 100%;
    border-radius: 20px;
    
}
/* SECTION4 */
.section4{
    padding: 100px 0;
}
.section4 .box-title p{
    color: var(--color3);
}
.section4 .s4-content{
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
    padding: 40px 30px;
    border-radius: 20px;
    min-height: 340px;
   
}
.section4 .s4-content .img{
    text-align: center;
}
.section4 .s4-content p{
    color: var(--color3);
    padding: 20px 0;
}
.section4 .s4-content h5,
.section4 .s4-content h6{
    text-align: center;
    font-weight: 400;
    transition: transform 0.3s ease;
}
.section4 .s4-content h6{
    color: var(--color1);
}
.section4 .s4-content:hover h5,
.section4 .s4-content:hover h6{
    transform: translateX(7px);
}
/* SECTION 5 */
.section5{
    padding: 100px 0;
    background-color: #F2F2FE;
}
.section5 .box-title p{
    color: var(--color3);
}
.section5 .item{
    background-color: white;
    text-align: center;
    padding: 30px 10px;
    border-radius: 20px;
     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}
.section5 .item h5{
    font-weight: 400;
    font-size: 19px;
    padding: 20px;
}
.section5 .item .cost{
    border-radius: 20px;
    color: white;
    width: 80%;
    margin: auto;
    height: 100px;
    padding: 20px;
}
.section5 .item .cost i,
.section5 .item .cost span{
   font-size: 22px;
   font-weight: 600;
   padding-bottom: 10px;
}
.section5 .row > .col-xl-4:nth-child(odd) .cost{
    background-color: var(--color2);
}

.section5  .row > .col-xl-4:nth-of-type(2) .cost{
    background-color: var(--color1);
}

.section5 .des{
    font-size: 14px;
    color: var(--color3);
    padding: 30px 0 10px 0;
}
.section5 .item .button{
    color: white;
    font-size: 14px;
    background-color: var(--color2);
    width: 40%;
    margin: auto;
}
.section5 .item .button:hover{
    background-color: var(--color1);
}
/* SECTION 6 */
.section6{
    background-image: url("../images/anhs5.png");
    padding: 100px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section6 .item{
    text-align: center;
    color: white;
    margin: 0;
    position: relative;
    
}
.section6 .item h4,
.section6 .item p{
    transition: transform 0.3s ease;
}
.section6 .row .col-xl-3:hover h4,
.section6 .row .col-xl-3:hover p{
    transform: translateY(-7px);
}

.section6 .item h4{
    font-size: 30px;
}
.section6 .row>.col-xl-3:nth-of-type(odd) .item::before{
    content: url("../images/circle-dec.png");
    position: absolute;
    top: 50%;
    right: -20%;
}
.section6 .row>.col-xl-3:nth-of-type(2) .item::before{
    content: url("../images/circle-dec.png");
    position: absolute;
    top: 15%;
    right: -20%;
}
@media screen and (max-width:1200px){
    .section6 .row>.col-xl-3 .item::before{
    content: url("../images/circle-dec.png");
    display: none;
    }
}
/* SECTION 7 */
.section7{
    padding: 100px 0;
}
.section7 .box-title p{
    color: var(--color3);
}
.section7 .s7-content{
    text-align: center;
    padding: 20px 0;
    width: 100%;
    /* height: 100%; */
    
}
.section7 .s7-content .img{
    width: 100%;
    height: 100%;
}
.section7 .item .img img{
    width: 100%;
    height: 100%;
     object-fit: cover;
}
.section7 .s7-content .box-title{
  width: 70%;
}
.section7 .s7-content .box-title h3{
    font-size: 18px;
    padding: 20px 0;
    margin-bottom: 0;
}
.section7 .s7-content .box-title p{
    padding: 0;
    
}
.section7 .s7-content .button{
    background-color: var(--color2);
    color: white;
    font-size: 14px;
    width: 30%;
    margin: auto;
}
.section7 .s7-content .button:hover{
    background-color: var(--color1);
}
/* SECTION8 */
.section8{
    background-color: #F2F2FE;
    padding: 100px 0;
}
.section8 .box-title p{
    color: var(--color3);
}
.section8 .left h6{
   font-size: 20px;
   padding-bottom: 10px;
}
.section8 .left p{
    color: var(--color3);
    padding:10px 0 ;
}

.section8 form input{
    line-height: 35px;
}
.section8 form textarea{
    height: 150px;
}
.section8 form .button{
    border: none;
    background-color: var(--color2) ;
    color: white;
}
.section8 form .button:hover{
    background-color: var(--color1);
}
/* FOOTER */
footer{
    background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
    padding: 50px 0;
    text-align: center;
}
footer .icon{
    justify-content: center;
}
footer .item{
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    color: var(--color2)
}
footer .item:hover{
    background-color: var(--color1);
    color: white;
}
footer p{
 color: white;
}